$dark: #101828;
$light: #D0D5DD;
$primary-dark: #00CC90;
$primary-light: #1B57B1;

$line-height-base: 1.5;

// Breakpoints
$grid-breakpoints: (
    tiny: 0,
    xxs: 320px,
    xs: 480px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1600px,
);
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");